@font-face {
  font-family: 'Crimson Text';
  src: url('assets/font/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Apply Crimson Text to text elements */
body,
h1, h2, h3, h4, h5, h6,
p,
a,
button,
li {
  font-family: 'Crimson Text', serif;
}